.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card{
    padding: 10px;
    min-height: 500px;
    min-width: 500px;
    border-radius: 10px;
    box-shadow:
        0.7px 0px 2.2px rgba(0, 0, 0, 0.02),
        1.7px 0px 5.3px rgba(0, 0, 0, 0.028),
        3.1px 0px 10px rgba(0, 0, 0, 0.035),
        5.6px 0px 17.9px rgba(0, 0, 0, 0.042),
        10.4px 0px 33.4px rgba(0, 0, 0, 0.05),
        25px 0px 80px rgba(0, 0, 0, 0.07);
}

.inputsContainer{
    padding: 10px;
}

.inputsTitle{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #c7c7c7;
}

.inputs{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputText{
    margin-right: 5px;
    font-size: 18px;
}

