[submodule "quantum-oracles"]
	path = quantum-oracles
	url = https://github.com/Dpbm/quantum-oracles
[submodule "qiskit-advocate-test"]
	path = qiskit-advocate-test
	url = https://github.com/Dpbm/qiskit-advocate-test
[submodule "QPapersPlease"]
	path = QPapersPlease
	url = https://github.com/Dpbm/QPapersPlease/
[submodule "linear_algebra_for_quantum_computing"]
	path = linear_algebra_for_quantum_computing
	url = https://github.com/Dpbm/linear_algebra_for_quantum_computing
[submodule "Qiskit-PyConDE"]
	path = Qiskit-PyConDE
	url = https://github.com/Dpbm/Qiskit-PyConDE
[submodule "ibm-quantum-challenge-spring-2023"]
	path = ibm-quantum-challenge-spring-2023
	url = https://github.com/Dpbm/ibm-quantum-challenge-spring-2023.git
[submodule "cs-video-courses"]
	path = cs-video-courses
	url = https://github.com/Dpbm/cs-video-courses.git
[submodule "Hands-On-Quantum-Machine-Learning-With-Python-Vol-1"]
	path = Hands-On-Quantum-Machine-Learning-With-Python-Vol-1
	url = https://github.com/Dpbm/Hands-On-Quantum-Machine-Learning-With-Python-Vol-1.git
[submodule "awesome-quantum-machine-learning"]
	path = awesome-quantum-machine-learning
	url = https://github.com/Dpbm/awesome-quantum-machine-learning.git
[submodule "chatgpt/gptmd"]
	path = chatgpt/gptmd
	url = https://github.com/Dpbm/gptmd.git
[submodule "qecft"]
	path = qecft
	url = https://github.com/Dpbm/qecft.git
[submodule "qiskit-contributing-guide"]
	path = qiskit-contributing-guide
	url = https://github.com/Dpbm/qiskit-contributing-guide.git
[submodule "qml-mooc"]
	path = qml-mooc
	url = https://gitlab.com/qosf/qml-mooc.git
[submodule "qiskit-community-tutorials"]
	path = qiskit-community-tutorials
	url = https://github.com/Dpbm/qiskit-community-tutorials.git
[submodule "platypus"]
	path = platypus
	url = https://github.com/Dpbm/platypus.git
[submodule "Quantum-Computation-course-Basel"]
	path = Quantum-Computation-course-Basel
	url = https://github.com/Dpbm/Quantum-Computation-course-Basel.git
[submodule "QuantumKatas"]
	path = QuantumKatas
	url = https://github.com/Dpbm/QuantumKatas.git
[submodule "Quantum-Arduino"]
	path = Quantum-Arduino
	url = git@github.com:Dpbm/Quantum-Arduino.git
[submodule "qiskit-fix"]
	path = qiskit-fix
	url = git@github.com:Dpbm/qiskit-fix.git
[submodule "qiskit"]
	path = qiskit
	url = https://github.com/Dpbm/qiskit
[submodule "qiskit-ibm-runtime"]
	path = qiskit-ibm-runtime
	url = https://github.com/Dpbm/qiskit-ibm-runtime
[submodule "qiskit-ibm-provider"]
	path = qiskit-ibm-provider
	url = https://github.com/Dpbm/qiskit-ibm-provider
[submodule "qiskit-metal-docker"]
	path = qiskit-metal-docker
	url = https://github.com/Dpbm/qiskit-metal-docker
