[submodule "quantum-oracles"]
	path = quantum-oracles
	url = https://github.com/Dpbm/quantum-oracles
[submodule "qiskit-advocate-test"]
	path = qiskit-advocate-test
	url = https://github.com/Dpbm/qiskit-advocate-test
[submodule "QPapersPlease"]
	path = QPapersPlease
	url = https://github.com/Dpbm/QPapersPlease/
[submodule "linear_algebra_for_quantum_computing"]
	path = linear_algebra_for_quantum_computing
	url = https://github.com/Dpbm/linear_algebra_for_quantum_computing
[submodule "Qiskit-PyConDE"]
	path = Qiskit-PyConDE
	url = https://github.com/Dpbm/Qiskit-PyConDE
[submodule "ibm-quantum-challenge-spring-2023"]
	path = ibm-quantum-challenge-spring-2023
	url = https://github.com/Dpbm/ibm-quantum-challenge-spring-2023.git
