[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qiskit = "*"
matplotlib = "*"
pylatexenc = "*"
jupyterlab = "*"
pillow = "*"
seaborn = "*"
python-dotenv = "*"
qiskit-ibm-provider = "*"
jldracula = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.5"
